<?xml version="1.0"?>
<WebSet xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <WebName>三五办公</WebName>
  <WebUrl>http://d35d.com</WebUrl>
  <WebPath>/</WebPath>
  <WeblogPath>LogFile</WeblogPath>
  <WebTel>021-32070505</WebTel>
  <WebFax>021-32070505</WebFax>
  <WebEmail>530757488@qq.com</WebEmail>
  <WebCrod>粤ICP备000000号</WebCrod>
  <WebCopyright>Copyright Right © 2013 Powered By DtCms Inc By Minggao Pan</WebCopyright>
  <WebKeywords>三五，办公用品</WebKeywords>
  <WebDescription>三五，办公用品</WebDescription>
  <WebLogStatus>1</WebLogStatus>
  <WebKillKeywords>Fuck|我日|尼玛|坑爹啊</WebKillKeywords>
  <WebProSize>20</WebProSize>
  <WebNewsSize>20</WebNewsSize>
  <WebFilePath>UpLoadFiles</WebFilePath>
  <WebFileType>GIF|JPG|PNG|BMP|RAR|DOC|XLS|jpeg</WebFileType>
  <WebFileSize>5120</WebFileSize>
  <IsThumbnail>0</IsThumbnail>
  <ProWidth>150</ProWidth>
  <ProHight>150</ProHight>
  <IsWatermark>1</IsWatermark>
  <WatermarkStatus>9</WatermarkStatus>
  <ImgQuality>80</ImgQuality>
  <ImgWaterPath>watermark.png</ImgWaterPath>
  <ImgWaterTransparency>7</ImgWaterTransparency>
  <WaterText>www.d35d.com</WaterText>
  <WaterFont>Arial</WaterFont>
  <FontSize>12</FontSize>
  <QQ1>530757488</QQ1>
  <QQ2>411090333</QQ2>
  <QQ3>972401854</QQ3>
</WebSet>