<?xml version="1.0"?>
<WebSet xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <WebName>合肥程飞餐饮管理有限公司</WebName>
  <WebUrl>http://www.wlxzlf.com</WebUrl>
  <WebPath>/</WebPath>
  <WeblogPath>LogFile</WeblogPath>
  <WebTel>15955133009</WebTel>
  <WebFax>15955133009</WebFax>
  <WebEmail>2575584600@qq.com</WebEmail>
  <WebCrod>皖ICP备17017950号 </WebCrod>
  <WebCopyright>Copyright Right © 2013 Powered By DtCms Inc By Minggao Pan</WebCopyright>
  <WebKeywords>懒汉杂粮粉,合肥程飞餐饮管理有限公司</WebKeywords>
  <WebDescription>懒汉杂粮粉, 麻辣香锅, 合肥程飞餐饮管理有限公司</WebDescription>
  <WebLogStatus>1</WebLogStatus>
  <WebKillKeywords>Fuck|我日|尼玛|坑爹啊</WebKillKeywords>
  <WebProSize>1</WebProSize>
  <WebNewsSize>20</WebNewsSize>
  <WebFilePath>UpLoadFiles</WebFilePath>
  <WebFileType>GIF|JPG|PNG|BMP|RAR|DOC|XLS|jpeg</WebFileType>
  <WebFileSize>5120</WebFileSize>
  <IsThumbnail>0</IsThumbnail>
  <ProWidth>150</ProWidth>
  <ProHight>150</ProHight>
  <IsWatermark>1</IsWatermark>
  <WatermarkStatus>9</WatermarkStatus>
  <ImgQuality>80</ImgQuality>
  <ImgWaterPath>watermark.png</ImgWaterPath>
  <ImgWaterTransparency>7</ImgWaterTransparency>
  <WaterText>www.wlxzlf.com</WaterText>
  <WaterFont>Arial</WaterFont>
  <FontSize>12</FontSize>
  <QQ1>2575584600</QQ1>
  <QQ2>2575584600</QQ2>
  <QQ3>972401854</QQ3>
</WebSet>